<!DOCTYPE html>
<html ng-app="phonecatApp1">
<head>
<title>wooooooot</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-resource.min.js"></script>
<script type="text/javascript" src="https://code.angularjs.org/1.3.5/angular-cookies.js"></script>
<script src="app.js"></script>
</head>
<body>

<div ng-controller="GameUsers" ng-init="gameweek()">

<div ng-show="voted"> 
<form class="well">                                     
     <input type="button" value="Yes" ng-click="gameStatusUpdate(gstatus_id, game_id,'Yes', email_choice)" class="btn btn-primary"/>
     <input type="button" value="No Game" ng-click="gameStatusUpdate(gstatus_id, game_id,'No', email_choice)" class="btn btn-primary"/>
     <label>email_choice</label>
     <input type="checkbox" ng-model="email_choice" ng-click="gameStatusUpdate(gstatus_id, game_id,gstatus,email_choice_change)" ng-true-value="YES" ng-false-value="NO">
</form>
</div>

<div ng-show="notvoted"> 
<form class="well">
     <input type="button" value="Yes first" ng-click="gameStatus(game_id,'Yes')" class="btn btn-primary"/>
     <input type="button" value="No Game" ng-click="gameStatus(game_id,'No')" class="btn btn-primary"/>
</form>
</div>

<table class="table table-striped table-bordered">
<tr ng-repeat="contact in contacts">
    <td>{{ contact.users.username }}</td>
    <td>{{ contact.gstatus }}</td>
    <td>{{ contact.id }}</td>
</tr>
</table>

<form class="well">
    <div  class="form-group" >
    <label>Comments</label>
        <input type="text" name="content" ng-model="addcontent.content"/>
    </div>
    <div class="form-group" >
     <input type="button" value="Add" ng-click="add_content()" class="btn btn-primary"/>
    </form>

<table class="table table-striped table-bordered">
<tr ng-repeat="content in contents">
    <td>{{ content.verbiage }}</td>
</tr>
</table>
</body>
</html>
