<!DOCTYPE html>
<html ng-app="phonecatApp1">
<head>
<title>wooooooot</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-resource.min.js"></script>
<script type="text/javascript" src="https://code.angularjs.org/1.3.5/angular-cookies.js"></script>
<script src="app.js"></script>
</head>
<body>


<div ng-controller="GameUsers" ng-init="gameweek()">

<div ng-show="voted"> 
<li ng-repeat="name in names">xxxx{{ name.id }}ooo
<form class="well">                                     
     <input type="button" value="Yes" ng-click="gameStatusUpdate(name.id, game_id,'Yes')" class="btn btn-primary"/>
     <input type="button" value="No Game" ng-click="gameStatusUpdate(name.id, game_id,'No')" class="btn btn-primary"/>
</form>
 </li>
</div>

<div ng-show="notvoted"> 
<form class="well">
     <input type="button" value="Yes first" ng-click="gameStatus(game_id,'Yes')" class="btn btn-primary"/>
     <input type="button" value="No Game" ng-click="gameStatus(game_id,'No')" class="btn btn-primary"/>
</form>
</div>

<h2>{{names(results).length}}</h2>
<h2>gammmmme_id #{{game_id}} game_id</h2>

<table class="table table-striped table-bordered">
<tr ng-repeat="contact in contacts">
    <td>{{ contact.users.username }}</td>
    <td>{{ contact.gstatus }}</td>
    <td>{{ contact.id }}</td>
    <td>
<form class="well">                                     
     <input type="button" value="Yes" ng-click="gameStatusUpdate(contact.id, game_id,'Yes')" class="btn btn-primary"/>
     <input type="button" value="No Game" ng-click="gameStatusUpdate(contact.id, game_id,'No')" class="btn btn-primary"/>
     </td>
</form>
</tr>
</body>
</html>
