<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>CodePen - AngularJS Form Validation</title>

  <link rel="stylesheet" href="css/normalize.css">

  <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css'>

    <link rel="stylesheet" href="css/style.css">

</head>

<body>

  <div ng-app="phonecatApp1" ng-controller="ContactController">
<div class="container">
<div class="row">  

<div class="col-sm-6">
    <!-- =================================================================== -->
    <!-- FORM ============================================================== -->
    <!-- =================================================================== -->

    <form name="userForm" ng-submit="login()" novalidate>

        <!-- NAME 
        <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
            <label>Password</label>
            <input type="password" name="password" class="form-control" ng-model="user.password" ng-minlength="6" ng-maxlength="12" required>
            <p ng-show="userForm.password.$error.minlength" class="help-block">Password is too short.</p>
            <p ng-show="userForm.password.$error.maxlength" class="help-block">Password is too long.</p>
        </div> -->

      <!-- USERNAME -->


        <!-- EMAIL -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
            <label>Email</label>
            <input type="email" name="email" class="form-control" ng-model="user.username" required>
            <p ng-show="userForm.email.$invalid && !userForm.email.$error.unique && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
            <p ng-show="userForm.email.$error.unique" class="help-block">That username is taken, please try another.</p>
        </div>

<div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
    <label>Password</label>
    <input type="password" name="password" class="form-control" ng-model="user.password"  required>
</div> 

        <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>

    </form>
  </div>

</div>
</div>
</div>

  <script src='http://code.angularjs.org/1.2.6/angular.js'></script>

  <script src="app.js"></script>

</body>

</html>
