<!DOCTYPE html>
<html ng-app="phonecatApp1">
<head>
<title>Hello World, AngularJS - ViralPatel.net</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.min.js"></script>
<script src="app.js"></script>
</head>
<body>
<div ng-controller="ContactController" ng-init="initFirst()" class="container">
    <form class="well">
    <div ng-show="visible" class="form-group" >
    <label>Name</label>
        <input type="text" name="username" ng-model="newcontact.username"/>
    </div>
    <div ng-show="visible" class="form-group" >
    <label>Password</label>
        <input type="text" name="password" ng-model="newcontact.password"/>
    </div>
     <input type="button" value="Login" ng-click="login()" class="btn btn-primary"/>
    </form>
   
    <div ng-show="visible2">
    <form class="well">
     <input type="button" value="Logout" ng-click="logout()" class="btn btn-primary"/>
    </form>

</body>
</html>
